@{
    ViewData["Title"] = "Home Page";
}
@model MessageModel
<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Model.Welcome
        @ViewBag.WelcomeString
        h2h2h
    </div>
</body>
</html>